@font-face {
    font-family: Neucha;
    src: url("fonts/neucha/Neucha-Regular.ttf");
}
@font-face {
    font-family: OpenSans;
    src: url("fonts/opensans/OpenSans-Regular.ttf");
}
body {
    background: #ccc;
    display: flex;
    flex-flow: row;
    margin: 0 auto;
    max-width: 64em;
}
main {
    margin: 4em auto;
    padding: 3em;
    background: #aba;
    border-radius: 3em;
    box-shadow: 0 1em 2em #bbf;
    flex-grow: 2;
}
main h1 {
    font-family: Neucha;
    color: #000;
    font-size: 3em;
}
main p {
    font-family: OpenSans;
}
aside {
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding: 2em;
    flex-grow: 1;
}
aside img {
    background: #ccf;
    border-radius: 50%;
    width: 256px;
    box-shadow: 0 1em 1em #bbf;
    align-self: center;
}
aside ul {
    list-style: none;
    margin: 1em auto;
    padding: 0.5em;
}
aside ul li a {
    color: #000;
    text-decoration: none;
}
aside ul li {
    animation: yrevoh 250ms;
    animation-fill-mode: forwards;
    
    background: #9af;
    font-family: Neucha;
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
    margin: 0.5em auto;
    border-radius: 2em;
    box-shadow: 0 1em 1em #bbf;
}
aside ul li:hover {
    animation: hovery 250ms;
    animation-fill-mode: forwards;
}
@keyframes hovery {
    from {
        background: #9af;
    }
    to {
        background: #ff9;
    }
}
@keyframes yrevoh {
    from {
        background: #ff9;
    }
    to {
        background: #9af;
    }
}
